.SwipeViewsHeaderContainer {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  width: 100%;
}
.SwipeViewsHeader{
  margin-bottom: -4px;
  border-bottom: #e7f0ef 4px solid;
}
.SwipeViewsTabs{
  font-size: 18px;
  height: 40px;
  padding: 0;
  margin: 0;
}
.SwipeViewsTab{
  display: inline;
  float:left;
  text-align:center;
  padding: 5px 0px;
  line-height: 30px;
  color: #5e5e5e;
}
.SwipeViewsTabs .active {
  color: #00B2A4;
}
.SwipeViewsInk{
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: margin;
  -o-transition-property: margin;
  transition-property: margin;
  height: 4px;
  background-color: #34bfb4;
  border-radius: 5px;
}
.SwipeViewPage-active {
  /*
  NOTE:开启加速时，Nexus7平板安装的6.1版本的微信无法显示Tabs，页面加载完时，Tabs有闪烁消失的情况，从浏览器的agent看，Nexus7里的微信没有使用X5内核(Android的平板未使用X5)
   */
  -moz-transform:translate3d(0,0,0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.SwipeViewPage {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  bottom: 0;
  padding-top: 10px;
}
.SwipeViewPage-next {
  transform: translate3d(100%, 0, 0);
}
.SwipeViewPage-in {
  transition: transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.SwipeViewPage-out {
  transition: transform 250ms cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
}
